RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

php_value display_errors 1
php_value display_startup_errors 1
php_value error_reporting E_ALL 
php_value session.cookie_secure On
php_value session.cookie_httponly On
php_value session.cookie_samesite "Lax"
php_value session.gc_maxlifetime 1440
php_flag session.use_strict_mode On

# Permitir acceso a la sesión
<IfModule mod_headers.c>
    Header set Set-Cookie HttpOnly;Secure
</IfModule>